<header>
  <h1 class="f3 fw2 black-90 mv3">Find your favourite programming langauge!</h1>
  <h2 class="f5 fw2 black-50 mt0 lh-copy">Enter your Github username</h2>
</header>

<%= form_tag user_path, method: :get, class: "pv4 black-80" do %>
  <div class="measure">
    <%= label_tag :username, "Username", class: "f6 b db mb2" %>
    <%= text_field_tag :username, '', class: 'input-reset ba b--black-20 pa2 mb2 db w-100' %>

    <%= submit_tag "Search", class: 'b ph3 pv2 input-reset ba b--black bg-transparent pointer f6' %>
  </div>
<% end %>
