---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/tonydaly/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1512939725'
      Etag:
      - W/"f55d8be658e41712abb9e668b7f2b2f9"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/68354/repos?page=2>; rel="next", <https://api.github.com/user/68354/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":86440408,"name":"analytics-elixir","full_name":"tonydaly/analytics-elixir","owner":{"login":"tonydaly","id":68354,"avatar_url":"https://avatars3.githubusercontent.com/u/68354?v=4","gravatar_id":"","url":"https://api.github.com/users/tonydaly","html_url":"https://github.com/tonydaly","followers_url":"https://api.github.com/users/tonydaly/followers","following_url":"https://api.github.com/users/tonydaly/following{/other_user}","gists_url":"https://api.github.com/users/tonydaly/gists{/gist_id}","starred_url":"https://api.github.com/users/tonydaly/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tonydaly/subscriptions","organizations_url":"https://api.github.com/users/tonydaly/orgs","repos_url":"https://api.github.com/users/tonydaly/repos","events_url":"https://api.github.com/users/tonydaly/events{/privacy}","received_events_url":"https://api.github.com/users/tonydaly/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/tonydaly/analytics-elixir","description":"Segment.com
        library for Elixir","fork":true,"url":"https://api.github.com/repos/tonydaly/analytics-elixir","forks_url":"https://api.github.com/repos/tonydaly/analytics-elixir/forks","keys_url":"https://api.github.com/repos/tonydaly/analytics-elixir/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tonydaly/analytics-elixir/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tonydaly/analytics-elixir/teams","hooks_url":"https://api.github.com/repos/tonydaly/analytics-elixir/hooks","issue_events_url":"https://api.github.com/repos/tonydaly/analytics-elixir/issues/events{/number}","events_url":"https://api.github.com/repos/tonydaly/analytics-elixir/events","assignees_url":"https://api.github.com/repos/tonydaly/analytics-elixir/assignees{/user}","branches_url":"https://api.github.com/repos/tonydaly/analytics-elixir/branches{/branch}","tags_url":"https://api.github.com/repos/tonydaly/analytics-elixir/tags","blobs_url":"https://api.github.com/repos/tonydaly/analytics-elixir/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tonydaly/analytics-elixir/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tonydaly/analytics-elixir/git/refs{/sha}","trees_url":"https://api.github.com/repos/tonydaly/analytics-elixir/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tonydaly/analytics-elixir/statuses/{sha}","languages_url":"https://api.github.com/repos/tonydaly/analytics-elixir/languages","stargazers_url":"https://api.github.com/repos/tonydaly/analytics-elixir/stargazers","contributors_url":"https://api.github.com/repos/tonydaly/analytics-elixir/contributors","subscribers_url":"https://api.github.com/repos/tonydaly/analytics-elixir/subscribers","subscription_url":"https://api.github.com/repos/tonydaly/analytics-elixir/subscription","commits_url":"https://api.github.com/repos/tonydaly/analytics-elixir/commits{/sha}","git_commits_url":"https://api.github.com/repos/tonydaly/analytics-elixir/git/commits{/sha}","comments_url":"https://api.github.com/repos/tonydaly/analytics-elixir/comments{/number}","issue_comment_url":"https://api.github.com/repos/tonydaly/analytics-elixir/issues/comments{/number}","contents_url":"https://api.github.com/repos/tonydaly/analytics-elixir/contents/{+path}","compare_url":"https://api.github.com/repos/tonydaly/analytics-elixir/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tonydaly/analytics-elixir/merges","archive_url":"https://api.github.com/repos/tonydaly/analytics-elixir/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tonydaly/analytics-elixir/downloads","issues_url":"https://api.github.com/repos/tonydaly/analytics-elixir/issues{/number}","pulls_url":"https://api.github.com/repos/tonydaly/analytics-elixir/pulls{/number}","milestones_url":"https://api.github.com/repos/tonydaly/analytics-elixir/milestones{/number}","notifications_url":"https://api.github.com/repos/tonydaly/analytics-elixir/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tonydaly/analytics-elixir/labels{/name}","releases_url":"https://api.github.com/repos/tonydaly/analytics-elixir/releases{/id}","deployments_url":"https://api.github.com/repos/tonydaly/analytics-elixir/deployments","created_at":"2017-03-28T09:23:18Z","updated_at":"2017-03-28T09:23:20Z","pushed_at":"2017-04-13T12:45:34Z","git_url":"git://github.com/tonydaly/analytics-elixir.git","ssh_url":"git@github.com:tonydaly/analytics-elixir.git","clone_url":"https://github.com/tonydaly/analytics-elixir.git","svn_url":"https://github.com/tonydaly/analytics-elixir","homepage":null,"size":87,"stargazers_count":0,"watchers_count":0,"language":"Elixir","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":2077871,"name":"appvertise","full_name":"tonydaly/appvertise","owner":{"login":"tonydaly","id":68354,"avatar_url":"https://avatars3.githubusercontent.com/u/68354?v=4","gravatar_id":"","url":"https://api.github.com/users/tonydaly","html_url":"https://github.com/tonydaly","followers_url":"https://api.github.com/users/tonydaly/followers","following_url":"https://api.github.com/users/tonydaly/following{/other_user}","gists_url":"https://api.github.com/users/tonydaly/gists{/gist_id}",[...]
